version: "3"
services:
  db:
    image: "postgres:16"
    container_name: "AdvertisementDB"
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: advertisement
    ports:
      - "54320:5432"
    volumes:
      - /var/lib/pgsql/data/
