<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="LogConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-4p] %d{HH:mm:ss yyyy-MM-dd} [%c{1}:%L] - %msg%n"/>
        </Console>
        <RollingFile name="LogFile" fileName="logs/logging.log"
                     filePattern="${basePath}/logging-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-4p] %d{HH:mm:ss yyyy-MM-dd} [%c{1}:%L] - %msg%n"/>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 **  **  ?"/>
                <SizeBasedTriggeringPolicy size="50M"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogConsole"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>

